/* ----------------------Style general--------------------- */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
  scroll-behavior: smooth;
  cursor: url("assets/logo.png"), auto;
}
body {
  min-height: 100vh;
  background: #2f0a45;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
  position: relative;
}

/* BOX */
.box {
  width: 30vw;
  z-index: 2;
  border-radius: 33px;
  background: #D9D9D9; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box p {
  text-align: justify;
}


.decor {
  width: 40px;
  margin: 30px;
}


/* ----------------------Header--------------------- */ 
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header .logo {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform:capitalize;
  letter-spacing: 2px;
  font-size: 5em;
}
header .logo span{
  transition: 2s;
}
header .logo span:hover{
  color: #d8a8f0;
  transition: 0.1s;
  position: static;
  font-size: 1.05em;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  padding: 0
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
header ul li {
  list-style: none;
  padding: 10px;
}
header ul li a {
  text-decoration: none;
  padding: 12px 20px;
  color: #fff;
  font-size: 1.5em;
  border-radius: 20px;
  transition: 0.7s;
}
header ul li a:hover, header ul li a.active {
  background: #D9D9D9;
  color: #2b1055;
  transition: 0.7s;
  padding: 12px 50px;
  cursor: crosshair;
}




/* ------------------Main----------------- */ 

.main {
  background: #2f0a45;
  display: flex;
}




/* ------------------Section----------------- */ 
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1,i {
    color: white;
    font-size: 8em;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    transition: all 0.1s;
}

section #background{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section::before {
  content: '';
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#2f0a45,transparent);
}







/* ------------------Article----------------- */ 

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
}

h2 {
  background-color: #141A26;
  color: #BAB2F2;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px 20px;
  font-size: 4em;
}


/*--------- audio ---------*/
.music audio {
  height: 30px;
  width: 180px;
  margin: 10px 0;
}



/* --------------------Equipe-------------------- */ 
.members {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.frame img {
  width: 375px;
  height: 450px;
  object-fit: cover;
  border: 80px solid transparent;
  border-top-right-radius: 48%;
  border-top-left-radius: 48%;
  border-image: url(media/image-from-rawpixel-id-7632859-original.png) 12% 28% stretch;
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 350px;
}

h3 {
  margin: 0 0 30px 0;
  font-size: 2em;
}



/* ---------------------Espace-------------------- */ 
.space {
  color: #FFF;
  width: 90%;
}

.space img {
  position: relative;
}

.space p {
  position: absolute;
  font-style: italic;
}

#star, #planet1, #planet2, #planet3 {
  position: relative;
}

/*----- soleil ------*/

#star img {
  width: 600px;
  height: 600px;
  mask-image: radial-gradient(rgba(0, 0, 0, 1) 66%, transparent 73%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1) 66%, transparent 73%);
}


#star p {
  width: 300px;
  top: 170px;
  left: 180px;
  font-size: 3em;
  color: #2b1055;
}

/*----- planète 1 -----*/

#planet1-shadow, #planet1 img {
  width: 350px;
  height: 350px;
  left: 65vw;
  top: -144px;
}

#planet1-shadow {
  border-radius: 50%;
  position: absolute;
  box-shadow: inset -40px -25px 15px rgba(0,0,0,0.9), inset 15px 10px 5px rgba(255, 178, 0, 0.52);
}

#planet1 p {
  width: 230px;
  top: -54px;
  left: 70vw;
  font-size: 2em;
}

/*----- planète 2 -----*/

#planet2-shadow, #planet2 img {
  width: 270px;
  height: 270px;
  left: 43vw;
  top: -100px;
}

#planet2-shadow {
  border-radius: 50%;
  position: absolute;
  box-shadow: inset -30px -35px 15px rgba(0,0,0,0.9), inset 10px 15px 8px rgba(86, 207, 255, 0.52);
}

#planet2 p {
  width: 150px;
  top: -30px;
  left: 46vw;
  font-size: 2em;
}

/*----- planète 3 -----*/

#planet3-shadow, #planet3 img {
  width: 420px;
  height: 420px;
  left: 20vw;
  top: -120px;
}

#planet3-shadow {
  border-radius: 50%;
  position: absolute;
  box-shadow: inset -25px -75px 15px rgba(0,0,0,0.9), inset 5px 15px 10px rgba(247, 105, 62, 0.91);
}

#planet3 p {
  width: 300px;
  top: -25px;
  left: 27vw;
  font-size: 2.5em;
}


/* -----------------------Form---------------------- */ 
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.form {
  padding: 50px;
  width: 500px;
  font-size: 1.2em;
  grid-area: 1 / 2 / 2 / 3;
}

form {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.options-menu {
  width: 60px;
}

.form label, .form p {
  margin-bottom: 5px;
}

.send {
  width: 80px;
  padding: 5px;
  border-radius: 8px;
}

/*-------- credits --------*/

.credits {
  margin: 40px;
}

.credits a, .credits p {
  color: #BAB2F2;
}



/* ------------------Footer----------------- */ 
footer {
  background: #141A26;
  display: flex;
  width: 100%;
  height: 75px;
  font-size: 0.8em;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
}

footer p {
    color: white;
    font-size: 1.5em;
}

footer a {
  color: aqua;
}

footer a:hover{
  cursor:grab;
}


/* ----------------Code stars ------------*/

.sky {
  position: relative;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #FFF;
  border-radius: 50%;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}